<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Todo</title>
    <link rel="stylesheet" href="style.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <script>

        valueChange = function(item){
            var id = item.value;
            var text = item.name;
            var active = item.checked;

            const data={id, text, active};

            const options ={
                method: 'PUT',
                headers:{'Content-Type': 'application/json;charset=utf8'},
                body: JSON.stringify(data)
            };
            fetch('/api', options);
        }
    </script>

</head>
<body>

    <form th:action="@{/create}" method="post">
        <div id="input">
            <input type="text" placeholder="Write a todo" name="t1">
        </div>
    </form>

    <th:block th:each="todo : ${todos}">
        <div id="loop">

            <div>
                <label class="checkbox">
                    <input class="box" type="checkbox" onChange="valueChange(this)" th:name="${todo.text}" th:value="${todo.id}" th:checked="${todo.active}"/>
                    <span th:text="${todo.text}">Text</span>
                </label>
            </div>

            <div>
                <form th:action="@{/deleteitem}" method="post">
                    <input type="hidden" name="id" th:value="${todo.id}" />
                    <button id="deleteButton" type="submit">Delete</button>
                </form>
            </div>

        </div>
    </th:block>



</body>
</html>